.catalog-grid {
  margin-bottom: 50px;
}

.catalog-grid a {
  text-decoration: none;
}

.container {
}
.catalog-grid__container {
}
.catalog-grid__props {
  margin-top: 77px;
  margin-bottom: 36px;
}
.catalog-props {
  background-color: white;
  box-shadow: 8px 11px 46px rgba(0, 0, 0, 0.05);
  padding: 60px 0;
}
.catalog-props__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-props__available {
  display: flex;
  align-items: center;
}

.catalog-props__txt {
  margin-right: 1em;
  font-weight: bold;
}

.catalog-props__form {
  margin: 0 30px 0 0 ;
}

.catalog-props__form label {
  color: #df0f2b;
  line-height: 18px;
  align-items: center;
}

.catalog-props__sort {
  /* Reset */
  appearance: none;
  border: 0;
  outline: 0;
  /* Personalize */
  max-width: 20rem;
  padding: 1rem 4rem 1rem 1rem;
  border-radius: 0.25em;
  font-size: 17px;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: #0d0d0d;
}

.catalog-props__sort:focus{
  outline: none;
}

.catalog-props__sort::-ms-expand{
  display: none;
}

.catalog-props__sort option:hover {
  background-color: #f6f6f6;
}

.catalog-props__sort option {
  color: inherit;
  min-height: 40px;
  line-height: 40px;
  padding-left: 18px;
  padding-right: 29px;

  text-align: left;
  transition: all 0.2s;
}

.catalog-props__sort .selected {
  font-weight: 700;
}

.catalog-grid__list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: calc(100% - 98.8%);
  margin-bottom: 20px;
  padding: 0;
}
.catalog-list {
}
.catalog-list__item {
  width: 24%;
  margin-bottom: 20px;
}

.catalog-list__item .product {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.product {
}
.product__img {
}
.product__description {
}
.product__title {
}
.product__dsc {
}
.product__view {
}
.cloud-btn {
}
.cloud-btn__list {
}
.cloud-btn__item {
}
.cloud-btn__item--red {
}

.product__price {
  text-align: center;
}

.product__title {
  text-align: center;
}

.product__title--less {
  font-weight: 400;
}

.product__price {
  font-weight: 600;
  display: block;
  font-size: 18px;
  color: #0d0d0d;
  line-height: 30px;
  text-transform: uppercase;
  transition: all 0.5s;
}

.product__bag-link {
  border: #df0f2b 1px solid;
  border-radius: 50px;
  text-align: center;
  overflow: hidden;
  height: 40px;
  color: #000000;
  font-size: 17px;
  transition: transform 0.5s, background 0.4s;
  font-weight: 400;
  visibility: hidden;
  transform: translateY(100%);
}

.product__bag-link:hover {
  background: #df0f2b;
  color: white;
}

.product__bag-link:hover svg{
  fill: white;
}

.product__bag-link svg {
  fill: #df0f2b;
  width: 26px;
  height: 26px;
}

.product:hover .product__bag-link {
    visibility: visible;
    transform: translateY(0);
    transition: transform 0.5s;
}


.catalog-grid__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalog-grid__nothing{
  text-align: center;
  margin: 0 auto;
  font-size: 26px;

}

@media (max-width: 962px) {
  .catalog-list__item {
    width: 32.5%;
  }

  .breadcrumb-banner {
    height: 100vh;
    max-height: 350px;
  }
}

@media (max-width: 662px) {
  .catalog-list__item {
    width: 49.4%;
  }
  .breadcrumb-banner {
    height: 100vh;
    max-height: 300px;
  }
}

@media (max-width: 500px) {
  .catalog-grid__list {
    justify-content: center;
  }

  .catalog-list__item {
    width: 100%;
  }
}
